// commons imports

@import 'composents/responsive_mixins';
@import 'composents/color';
@import 'composents/variables';
@import 'composents/fonts';
@import 'composents/typography';
@import "composents/title";
@import "composents/header";
@import "composents/toolbars";
@import "composents/form";
@import "composents/button";
@import "composents/toggleCheck";
@import "composents/img";
@import "composents/confirmBox";


/*------- initalisation de la page ------ */
* {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

body {
  height: 100vh;
  overflow: scroll;
}
/*----- container tablet ----- */
.container {
  width: $container_tablet_600;
  margin: $container_margin;

  #form-add{
    margin-top: 10px;
  }
}

/* ------- suppresion du flottement ------------ */

.clear{
  clear: both;
}

.text-center {
  text-align: $text_center;
}

.display-none{
  display: none;
}









