// commons imports

@import 'composents/responsive_mixins';
@import 'composents/color';
@import 'composents/variables';
@import 'composents/fonts';
@import 'composents/typography';
@import "composents/title";
@import "composents/header";
@import "composents/toolbars";
@import "composents/form";
@import "composents/button";
@import "composents/toggleCheck";
@import "composents/img";
@import "composents/confirmBox";
@import "composents/questionEdited";


/*------- initalisation de la page ------ */
* {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

body {
  height: auto;
  overflow: scroll;
}
/*----- container tablet ----- */
.container {
  width: $container_tablet_600;
  margin: $container_margin;
  @include responsive_laptop{
    width: $container_laptop_800;
  }
  @include responsive_computer{
    width: $container_computer_1200;
  }

  #form-add{
    margin-top: 10px;
  }
}

/* ------- suppresion du flottement ------------ */

.clear{
  clear: both;
}

.text-center {
  text-align: $text_center;
}

.display-none{
  display: none;
}

.disabled{
  pointer-events: none !important;
  color: $dark_gray;
  border: 1px solid $dark_gray;
  background-color: $medium_light_gray;
}

.opacity{
  opacity: 75%;
  transition: $trans_3;
  &:hover{
    opacity: 100%;
  }
}









