@import "variables";
@import "color";
@import "responsive_mixins";

// style of button

  button {
    text-align: left;
    cursor: pointer;
    border-radius: $border-radius_5;
    padding: 5px;
    margin-right: 5px;

    @include responsive_laptop{
      font-size: 15px !important;
    }
    @include responsive_computer{
      font-size: 20px !important;
    }

    #id-form{
      margin-top: 20px;
    }
  }

  .btn-primary {
    background-color: $white;
    color: $purple;
    border: 1px solid $purple;
    transition: $trans_3;

    &:hover {
      background-color: $purple;
      color: $white;
      border: 1px solid $purple;
    }
  }

  .btn-primary-nothover{
    background-color: $white;
    color: $purple;
    border: 1px solid $purple;
    cursor: initial;
  }

  .btn-secondary {
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
    transition: $trans_3;

    &:hover {
      background-color: $blue;
      color: $white;
      border: 1px solid $blue;
    }
  }

  .btn-secondary-nothover{
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
    cursor: initial;
  }

  .btn-tertiary {
    background-color: $white;
    color: $red;
    border: 1px solid $red;
    transition: $trans_3;

    &:hover {
      background-color: $red;
      color: $white;
      border: 1px solid $red;
    }
  }

  .btn-tertiary-nothover {
    background-color: $white;
    color: $red;
    border: 1px solid $red;
    cursor: initial;
  }

  .btn-change{
  position: relative;
    top: 30px;
    left: -325px;
    margin-bottom: 35px;
    @include responsive_laptop{
      top: 35px;
      left: -465px;
    }
    @include responsive_computer{
      top: 50px;
      left: -740px;
      margin-bottom: 55px;
    }
  }
