// all colors
$purple : #6468DA;
$white : #ffffff;
$blue : #4f8ecb;
$dark_gray : #333447;
$red : #ed462f;
$gray : rgba(241,241,241);
$light_gray : rgba(248, 248, 252);
$medium_gray : rgba(100,100,100, 0.4);
$black_shadow : rgba(0,0,0,0.4);
