// all colors
$purple : #6468DA;
$white : #ffffff;
$blue : #4f8ecb;
$dark_gray : #333447;
$red : #ed462f;
$gray : #f1f1f1;
$medium_light_gray : #C4C4C4;
$light_gray : #f8f8fc;
$medium_gray : rgba(100,100,100, 0.4);
$black_shadow : rgba(0,0,0,0.4);
