@import "color";
  #message {
    position: fixed;
    bottom: 102px;
    right: 20px;
    width: 135px;
    height: 108px;
    padding: 5px;

    .fa-comment-alt {
      color: $dark_gray;
      opacity: 100%;
      font-size: 145px;
      position: fixed;
      bottom: 75px;
      right: 20px;
      transform: rotateY(180deg);
    }

    p#caution {
      color: $white;
      position: absolute;
      top: 25px;
      right: 5px;
      width: auto;
      z-index: 100;

    }

    button {
      position: relative;
      z-index: 100;
      top: 65px;
      left: 28px;

    }
    @include responsive_laptop{
      right: 40px;

      .fa-comment-alt{
        right: 40px;
        bottom: 100px;
      }

      p#caution{
        top: 0;
        font-size: 15px !important;
      }

      button{
        top: 45px;
      }
    }
  }
