@import "color";

#confirmBox {
  position: fixed;
  width: 200px;
  height: 200px;
  bottom: 0;
  right: 0;

  .fa-comment {
    color: $dark_gray;
    opacity: 100%;
    font-size: 145px;
    position: fixed;
    bottom: 50px;
    right: 90px;
    transform: rotateY(180deg);
  }
  p{
    color: $white;
    width: 75px;
    position: absolute;
    top: 35px;

  }

  button{
    position: relative;
    z-index: 100;
    top: 85px;
    left: 5px;

  }
}