@import "color";
  #message {
    position: fixed;
    bottom: 102px;
    right: 40px;
    width: 135px;
    height: 108px;
    padding: 5px;

    .fa-comment-alt {
      color: $dark_gray;
      opacity: 100%;
      font-size: 145px;
      position: fixed;
      bottom: 75px;
      right: 40px;
      transform: rotateY(180deg);
    }

    p#caution {
      color: $white;
      position: absolute;
      top: 25px;
      left: 5px;
      right: 5px;
      width: auto;
      z-index: 100;

    }

    button {
      position: relative;
      z-index: 100;
      top: 65px;
      left: 34px;

    }
  }
