@import "color";
@import "variables";

// style form
form{
  color: $purple;
  position: relative;
  margin-top: 20px;
  text-align: left;
  label{
    margin-top: 20px;
    @include responsive_laptop{
      font-size: 20px !important;
      margin-right: 10px;
    }
  }

  input[type="text"]{
    border-radius: $border_radius_5;
    border: 1px solid $purple;
    width: 588px;
    height: 25px;
    margin: 10px 0;
    padding: 5px;
    @include responsive_laptop{
      width: 788px;
      height: 40px;
      font-size: 15px !important;
    }
  }

  input[type="radio"]{
    top: 0;
    margin: 0 5px;
    cursor: pointer;
    @include responsive_laptop{
      margin: 0 10px 0 -5px;
    }
  }

  .type-exercice{
    position: relative;
    top: 0;
    left: 0;
    @include responsive_laptop{
      font-size: 15px !important;
    }
  }


  table{
    width: $container_tablet_600;
    height: auto;
    border-radius: $border-radius_5;
    margin: 10px 0 30px;

    @include responsive_laptop{
      width: $container_laptop_800;
    }

    thead{
      background-color: $light_gray;
      height: 25px;
      tr{

        text-align: $text_center;
        th{
          border: 1px solid $light_gray;
          border-radius: $border-radius_5;
          @include responsive_laptop{
            width: ($container_laptop_800)/3;
          }
        }
      }
    }

    tbody{
      text-align: $text_center;
      background-color: $gray;
      padding: 5px;
      tr{
        &.focus{
          background-color: rgba($blue,0.5);

        }
        td{
          border-radius: $border-radius_5;
          @include responsive_laptop{
            height: 60px;
          };
          input.choices{
            width: $choices_width;
            height: $choices_height;
            padding: $padding5;
            border: $border_input_choices;
            @include responsive_laptop {
              width: ($container_laptop_800/3)-25;
              height: $choices_height*2;
            }
          }
          .good-answer-choice{
            top: -10px;
            left: 75px;
            @include responsive_laptop{
              left: 90px;
            }
          }
        }
      }
    }

    tfoot{
      background-color: $light_gray;
      tr{

        text-align: $text_center;
        td{
          border-radius: $border-radius_5;
          text-align: center;

          input#choice{
            width: $choices_width;
            height: $choices_height;
            padding: $padding5;
            border: $border_input_choices;
            @include responsive_laptop {
              width: ($container_laptop_800/3)-25;
              height: $choices_height*2;
            }
          }

          .good-answer{
            top: -10px;
            left: 75px;
            @include responsive_laptop {
              left: 90px;
            }
          }
        }
      }
    }
  }
  .explication{
    margin-top: -35px;
  }

  .explication-check{
    top: 20px !important;
    left: 115px!important;
    @include responsive_laptop{
      top: 25px !important;
      left: 160px !important;
    }
  }
}


