// style of img

#guizmo-greet{
  position: fixed;
  right: 10px;
  bottom: 0;
  width: 75px;
  @include responsive_laptop{
    width: 100px;
  }
  @include responsive_computer{
    width: 125px;
  }
}