@import "color";
@import "variables";
@import "responsive_mixins";

/*------ title ------- */
h1 {
  width: 330px;
  position: absolute;
  top: 12px;
  margin-left: 45px;
  color: $purple;
  float: left;
  @include responsive_laptop{
    top: 25px;
    margin-left: 70px;
  }

  @include responsive_computer {
    top: 50px;
    margin-left: 110px;
    font-size: 25px !important;
  }
}

  h2{
    text-align: $text-center;
    margin-top: 100px;
    @include responsive_laptop{
      font-size: 35px !important;
      margin-top: 100px;
    }
    @include responsive_computer{
      margin-top: 150px;
      font-size: 45px !important;
    }
  }
  h3{
    text-align: $text-center;
    margin-top: 25px;
    @include responsive_laptop {
      font-size: 25px !important;
    }

    @include responsive_computer{
      font-size: 30px !important;
    }
  }
  h4{
    text-align: $text-center;
    margin-top: 15px;
    @include responsive_laptop {
      font-size: 20px !important;
    }
    @include responsive_computer{
      font-size: 25px !important;
    }

    span{
      border-bottom: solid 0 #6468DA;
      transition: $trans_3;
      cursor: pointer;
      width: auto;

      &:hover {
        border-bottom: solid 3px #6468DA;
      }
    }
  }

  h5{
    margin: 15px 0;
  }