@import "color";
@import "variables";
@import "responsive_mixins";
@import "fonts";

/* ------ toolsbar ------- */

#toolbars {
  text-align: $text-center;
  width: $container_tablet_600;
  height: 50px;
  background-color: $gray;
  border: solid 1px $gray;
  position: sticky;
  z-index: 100;
  top: 50px;
  margin-top: 20px;
  border-radius: $border-radius_5;

  @include responsive_laptop{
    width: $container_laptop_800;
    top: 75px;
  }

  @include responsive_computer{
    width: $container_computer_1200;
    top: 125px;
    height: 75px;
  }

  .tools {
    width: 50px;
    height: 50px;
    color: $purple;
    cursor: pointer;
    margin-right: 20px;
    float: left;
    border-radius: $border_radius_5;
    transition: $trans_3;



    @include responsive_computer {
      width: 75px;
      height: 75px;
      font-size: 25px !important;
    }

    &:hover {
      color: #fff;
      background-color: #6468da;
    }

    #undo, #redo,#nothing {
      margin-top: 17px;
      @include responsive_computer {
        margin-top: 25px;
      }
    }

    .tags {
      margin-top: 15px;
      @include responsive_computer{
        margin-top: 23px;
      }
    }
  }

  hr {
    height: 25px;
    width: 2px;
    border: none;
    background-color: $purple;
    float: left;
    margin: 12px 0 0 -10px;

    @include responsive_computer{
      height: 50px;
      width: 2px;
    }
  }


  .counter {
    color: $purple;
    margin: 5px 65px 0 0;
    label{
      margin-top: -8px;
    }
    @include responsive_laptop{
      margin: 16px 0 0 0;
      text-align: left;
      label{
        margin-top: -4px;
        margin-left: 60px;
      }
    }
    @include responsive_computer{
      margin: 24px 0 0 0;
      font-size: 25px !important;
      label{
        margin-top: -11px;
        margin-left: 305px;
      }
    }


  }

  #tool-undo {
    &:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f0e2";
      line-height: 3;
    }
  }
  #tool-redo {
    &:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f01e";
      line-height: 3;
    }
  }
  #tool-nothing {
    &:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f87d";
      line-height: 3;
    }
  }
  #tool-tag-r {
    &:after {
      font-family: latobold, sans-serif;
      font-weight: 900;
      content: "[%R]";
      line-height: 3;
    }
  }
  #tool-tag-g {
    &:after {
      font-family: latobold, sans-serif;
      font-weight: 900;
      content: "[%G]";
      line-height: 3;
    }
  }
  #tool-tag-i {
    &:after {
      font-family: latobold, sans-serif;
      font-weight: 900;
      content: "[%I]";
      line-height: 3;
    }
  }

  }