@import "color";
@import "variables";
@import "responsive_mixins";

/* ------ toolsbar ------- */

#toolbars {
  text-align: $text-center;
  width: $container_tablet_600;
  height: 50px;
  background-color: $gray;
  border: solid 1px $gray;
  position: sticky;
  z-index: 100;
  top: 50px;
  margin-top: 20px;
  border-radius: $border-radius_5;

  @include responsive_laptop{
    width: $container_laptop_800;
    top: 75px;
  }

  @include responsive_computer{
    width: $container_computer_1200;
    top: 125px;
    height: 75px;
  }

  .tools {
    width: 50px;
    height: 50px;
    color: $purple;
    cursor: pointer;
    margin-right: 20px;
    float: left;
    border-radius: $border_radius_5;
    transition: $trans_3;

    @include responsive_computer {
      width: 75px;
      height: 75px;
      font-size: 25px !important;
    }

    &:hover {
      color: #fff;
      background-color: #6468da;
    }

    #undo, #redo, {
      margin-top: 17px;
      @include responsive_computer {
        margin-top: 25px;
      }
    }

    .tags {
      margin-top: 15px;
      @include responsive_computer{
        margin-top: 23px;
      }
    }
  }

  hr {
    height: 25px;
    width: 2px;
    border: none;
    background-color: $purple;
    float: left;
    margin: 12px 0 0 -10px;

    @include responsive_computer{
      height: 50px;
      width: 2px;
    }
  }


  .counter {
    color: $purple;
    margin: 16px 65px 0 0;
    @include responsive_laptop{
      margin: 16px 0 0 0;
      text-align: left;
    }
    @include responsive_computer{
      margin: 24px 0 0 0;
      font-size: 25px !important;
      label{
        margin-top: -11px;
        margin-left: 205px;
      }
    }


  }
}